<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home - Oficina</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="d-flex">
    <div th:insert="~{fragments/sidebar}"></div>
    <main class="d-flex flex-column position-relative w-100 vh-100 p-4">
        <h1 class="h3">Cadastro de Usuário</h1>

        <form class="form-control" th:action="@{/usuario/cadastrar}" method="post"
              th:object="${novo_usuario}">

            <div class="mb-3">
                <label class="form-label" for="nomeUser">Nome de usuário:</label>
                <input class="form-control w-15 border-dark" id="nomeUser" type="text" placeholder="Ex: Joao.vitor"
                       th:field="*{usuNome}" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="passUser">Senha:</label>
                <input class="form-control w-15 border-dark" id="passUser" type="password" placeholder="Ex: 654321"
                       th:field="*{usuSenha}" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="roleUser">Permissao:</label>
                <select id="roleUser" class="form-select w-25 border-dark" aria-label="select" th:field="*{role}"
                        required>
                    <option th:each="rol : ${role_lista}" th:value="${rol}" th:text="${rol.descricao}">
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="funcRelUser">Funcionário Relacionado:</label>
                <select id="funcRelUser" class="form-select w-25 border-dark" aria-label="select" th:field="*{idFunc}"
                        required>
                    <option value="" disabled>Selecione um Funcionário</option>
                    <option th:each="func : ${func_lista}" th:value="${func.id}" th:text="${func.pesNome}">
                    </option>
                </select>
            </div>

            <div class="mt-5">
                <button class="btn btn-success" style="width: 7%;" type="submit">Salvar</button>
                <a class="btn btn-danger" style="width: 7%;" th:href="@{/usuario}">Cancelar</a>
            </div>
        </form>

    </main>
</div>


<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>