<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Usuários - Oficina</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="d-flex">
    <div th:insert="~{fragments/sidebar}"></div>
    <main class="d-flex flex-column position-relative w-100 vh-100 p-4">
        <h1 class="h3">Lista de Usuários</h1>

        <table class="table table-dark table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Permissão</th>
                <th>Funcionário</th>
                <th>Ativo</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="users : ${usuarios_lista.content}">
                <td th:text="${users.getId()}"></td>
                <td th:text="${users.getUsuNome()}"></td>
                <td th:text="${users.getRoleName()}"></td>
                <td th:text="${users.getFuncionario() == null ? 'Desativado' : users.getFuncionario().getPesNome()}"></td>
                <td th:text="${users.ativo ? 'Sim' : 'Não'}"></td>
                <td>
                    <form th:action="@{/usuario/remover/{index}(index=${users.id})}" method="post">
                        <button th:classappend="${!users.ativo} ? 'disabled'" class="btn btn-danger" type="submit">
                            Desativar
                        </button>
                        <a th:href="@{/usuario/editar/{index}(index=${users.id})}" class="btn btn-primary">
                            Editar
                        </a>
                        <a th:href="@{/usuario/visualizar/{index}(index=${users.id})}" class="btn btn-primary">
                            Visualizar
                        </a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li th:classappend="${currentPage == 0} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/usuario(page=${currentPage - 1}, size=5)}">Anterior</a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence(0, usuarios_lista.totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/usuario(page=${i}, size=5)}" th:text="${i + 1}">1</a>
                </li>
                <li th:classappend="${currentPage + 1 == usuarios_lista.totalPages} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/usuario(page=${currentPage + 1}, size=5)}">Próxima</a>
                </li>
            </ul>
        </nav>
        <div class="btn-group w-10">
            <a class="btn btn-primary " th:href="@{/usuario/cadastro}">Novo</a>
        </div>


    </main>
</div>


<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>