<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Compras - Oficina</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="d-flex">
    <div th:insert="~{fragments/sidebar}"></div>
    <main class="d-flex flex-column position-relative w-100 vh-100 p-4">
        <h1 class="h3">Lista de Compras</h1>

        <table id="prodTableMain" class="table table-dark table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Fornecedor</th>
                <th>Data da compra</th>
                <th>Valor Total</th>
                <th>Observação</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comp : ${compraPage.getContent()}">
                <td th:text="${comp.id}"></td>
                <td th:text="${comp.fornecedor}"></td>
                <td th:text="${comp.dataCompra}"></td>
                <td th:text="${comp.valorTotal}"></td>
                <td th:text="${comp.observacao}"></td>
                <td>
                    <form th:action="@{/compra/remover/{index}(index=${comp.id})}" method="post">
                        <button class="btn btn-danger" type="submit">
                            Remover
                        </button>
                        <a th:href="@{/compra/editar/{index}(index=${comp.id})}" class="btn btn-primary">
                            Editar
                        </a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li th:classappend="${currentPage == 0} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/compra(page=${currentPage - 1}, size=5)}">Anterior</a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence(0, compraPage.totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/compra(page=${i}, size=5)}" th:text="${i + 1}">1</a>
                </li>
                <li th:classappend="${currentPage + 1 == compraPage.totalPages} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/compra(page=${currentPage + 1}, size=5)}">Próxima</a>
                </li>
            </ul>
        </nav>

        <div class="btn-group w-10">
            <a class="btn btn-primary" th:href="@{/compra/cadastro}">Novo</a>
        </div>


    </main>
</div>


<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/htmx/htmx.min.js}"></script>
</body>
</html>