<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pessoas - Oficina</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="d-flex">
    <div th:insert="~{fragments/sidebar}"></div>
    <main class="d-flex flex-column position-relative w-100 vh-100 p-4">
        <h1 class="h3">Lista de Pessoas</h1>

        <div th:if="${pessoa_cadastrada}" class="alert alert-success" role="alert">
            Salvo com sucesso!
        </div>

        <table class="table table-dark table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cpf/Cnpj</th>
                <th>Tipo</th>
                <th>Ativo</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pes : ${pes_list.content}">
                <td th:text="${pes?.id}"></td>
                <td th:text="${pes?.pesNome}"></td>
                <td th:text="${pes?.pesCpfCnpj}"></td>
                <td th:text="${pes?.pesTipo.descricao}"></td>
                <td th:text="${pes.pesAtivo ? 'Ativo' : 'Inativo'}"></td>
                <td>
                    <form th:action="@{/pessoa/desativar/{index}(index=${pes.id})}" method="post">
                        <button th:classappend="${!pes.pesAtivo} ? 'disabled'" class="btn btn-danger" type="submit">
                            Desativar
                        </button>
                        <a th:href="@{/pessoa/editar/{index}(index=${pes.id})}" class="btn btn-primary">
                            Editar
                        </a>
                        <a th:href="@{/pessoa/visualizar/{index}(index=${pes.id})}" class="btn btn-primary">
                            Visualizar
                        </a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li th:classappend="${currentPage == 0} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/pessoa(page=${currentPage - 1}, size=5)}">Anterior</a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence(0, pes_list.totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/pessoa(page=${i}, size=5)}" th:text="${i + 1}">1</a>
                </li>
                <li th:classappend="${currentPage + 1 == pes_list.totalPages} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/pessoa(page=${currentPage + 1}, size=5)}">Próxima</a>
                </li>
            </ul>
        </nav>

        <div class="btn-group w-10">
            <a class="btn btn-primary " th:href="@{pessoa/cadastro}">Novo</a>
        </div>


    </main>
</div>


<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>