<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
<main th:fragment="sidebar" class="d-flex flex-nowrap vh-100">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <a th:href="@{home}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">??????</span>
        </a>
        <hr class="text-white">
        <ul class="nav flex-column mb-auto">
            <li>
                <a th:href="@{/produto}" class="nav-link text-white">
                    Produtos
                </a>
            </li>
            <li>
                <a th:href="@{/usuario}" class="nav-link text-white">
                    Usuários
                </a>
            </li>
            <li>
                <a th:href="@{/pessoa}" class="nav-link text-white">
                    Pessoas
                </a>
            </li>
            <li>
                <a th:href="@{/compra}" class="nav-link text-white">
                    Compra
                </a>
            </li>
            <li>
                <a th:href="@{/caixa}" class="nav-link text-white">
                    Caixa
                </a>
            </li>
            <li>
                <a href="" class="nav-link text-white">
                    Contas a pagar
                </a>
            </li>
        </ul>

        <form th:action="@{/logout}" method="post">
            <p class="text-white" th:text="${'Logado como ' + #authentication.name}"></p>
            <button class="btn w-100 text-white"
                    type="submit"
                    style="background-color: #3A4750;">Desconectar
            </button>
        </form>
    </div>
</main>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>