<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pessoas - Oficina</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<th:block th:fragment="produtoForm">

    <form class="form-control" th:action="@{/produto/cadastrar}" method="post"
          th:object="${produto}">
        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label class="form-label" for="tipoProd">Tipo de produto</label>
            <select id="tipoProd" class="form-select w-15 border-dark"
                    aria-label="select" th:field="*{produtoTipo}">
                <option th:each="tipo : ${tipo_lista}" th:value="${tipo}" th:text="${tipo.descricao}">
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="nomeProd">Nome do produto:</label>
            <input class="form-control w-15 border-dark" id="nomeProd" type="text"
                   th:field="*{nome}" required/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="precoCustoProd">Preço Custo:</label>
            <input class="form-control w-15 border-dark" id="precoCustoProd" type="text"
                   th:field="*{precoCusto}" required/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="precoProd">Preço Venda:</label>
            <input class="form-control w-15 border-dark" id="precoProd" type="text"
                   th:field="*{precoUnitario}" required/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="tmProd">Tamanho:</label>
            <input class="form-control w-15 border-dark" id="tmProd" type="number"
                   step="0.01"
                   th:field="*{tamanhoMetros}" required/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="quantProd">Quantidade:</label>
            <input class="form-control w-15 border-dark" id="quantProd" type="number"
                   th:field="*{estoque}" required/>
        </div>

        <div class="mb-3">
            <label class="form-label" for="descProd">Descrição:</label>
            <textarea class="form-control w-25 border-dark" style="resize: none" id="descProd" rows="3"
                      th:field="*{descricao}"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-check-label" for="inputAtivo">Ativo:</label>
            <input class="form-check-input border-dark" id="inputAtivo" type="checkbox"
                   th:field="*{ativo}" required/>
        </div>

        <div class="mt-5">
            <button class="btn btn-success"
                    style="width: 7%;"
                    onclick="formatarValorParaDecimal(document.getElementById('precoProd'), document.getElementById('precoCustoProd'));"
                    type="submit">Salvar</button>
            <a class="btn btn-danger" style="width: 7%;" th:href="@{/produto}">Cancelar</a>
        </div>
    </form>

</th:block>


<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/htmx/htmx.min.js}"></script>

</body>
</html>