<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Produtos - Oficina</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="d-flex">
    <div th:insert="~{fragments/sidebar}"></div>
    <main class="d-flex flex-column position-relative w-100 vh-100 p-4">
        <h1 class="h3">Lista de Produtos</h1>

        <div th:if="${produto_cadastrado}" class="alert alert-success" role="alert">
            Salvo com sucesso!
        </div>

        <table id="prodTableMain" class="table table-dark table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Preço Venda</th>
                <th>Preço Custo</th>
                <th>Quantidade</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Ativo</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prods : ${produtoPage.content}">
                <td th:text="${prods.id}"></td>
                <td th:text="${prods.nome}"></td>
                <td th:text="${#numbers.formatCurrency(prods.precoUnitario)}"></td>
                <td th:text="${#numbers.formatCurrency(prods.precoCusto)}"></td>
                <td th:text="${prods.estoque}"></td>
                <td th:text="${prods.produtoTipo.descricao}"></td>
                <td th:text="${prods.descricao}"></td>
                <td th:text="${prods.ativo == true ? 'Sim' : 'Não'}"></td>
                <td>
                    <form th:action="@{/produto/remover/{index}(index=${prods.id})}" method="post">
                        <button class="btn btn-danger" type="submit">
                            Desativar
                        </button>
                        <a th:href="@{/produto/editar/{index}(index=${prods.id})}" class="btn btn-primary">
                            Editar
                        </a>
                        <a th:href="@{/produto/visualizar/{index}(index=${prods.id})}" class="btn btn-primary">
                            Visualizar
                        </a>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li th:classappend="${currentPage == 0} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/produto(page=${currentPage - 1}, size=5)}">Anterior</a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence(0, produtoPage.totalPages - 1)}"
                    th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/produto(page=${i}, size=5)}" th:text="${i + 1}">1</a>
                </li>
                <li th:classappend="${currentPage + 1 == produtoPage.totalPages} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/produto(page=${currentPage + 1}, size=5)}">Próxima</a>
                </li>
            </ul>
        </nav>

        <div class="btn-group w-10">
            <a class="btn btn-primary" th:href="@{/produto/cadastro}">Novo</a>
        </div>


    </main>
</div>


<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/htmx/htmx.min.js}"></script>
</body>
</html>