<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home - Oficina</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="d-flex">
    <div th:insert="~{fragments/sidebar}"></div>
    <main class="d-flex flex-column position-relative w-100 vh-100 p-4">
        <h1 class="h3">Cadastro de Produto</h1>

        <form class="form-control" th:action="@{/produto/cadastrar}" method="post"
              th:object="${produto}">
            <input type="hidden" th:field="*{id}"/>

            <div class="mb-3">
                <label class="form-label" for="nomeProd">Nome do produto:</label>
                <input class="form-control w-15 border-dark" id="nomeProd" type="text"
                       th:field="*{nome}" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="precoProd">Preço Unitário:</label>
                <input class="form-control w-15 border-dark" id="precoProd" type="number"
                       th:field="*{precoUnitario}" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="quantProd">Quantidade:</label>
                <input class="form-control w-15 border-dark" id="quantProd" type="number"
                       th:field="*{estoque}" required/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="descProd">Descrição:</label>
                <textarea class="form-control w-25 border-dark" style="resize: none" id="descProd" rows="3"
                          th:field="*{descricao}"></textarea>
            </div>


            <div class="mt-5">
                <button class="btn btn-success" style="width: 7%;" type="submit">Salvar</button>
                <a class="btn btn-danger" style="width: 7%;" th:href="@{/produto}">Cancelar</a>
            </div>
        </form>

    </main>
</div>


<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>