<form th:fragment="addEndereco" id="enderecoFormContainer" th:object="${novo_endereco}" method="post">
    <div class="row g-3">
        <div class="col-md-6">
            <label for="Inputcep" class="form-label">CEP:</label>
            <input class="form-control" id="Inputcep" th:field="*{endCep}"/>
            <p class="text-danger" th:if="${#fields.hasErrors('endCep')}"
               th:errors="*{endCep}"></p>
        </div>

        <div class="col-md-6">
            <label for="Inputrua" class="form-label">Rua:</label>
            <input class="form-control" id="Inputrua" th:field="*{endRua}"/>
            <p class="text-danger" th:if="${#fields.hasErrors('endRua')}"
               th:errors="*{endRua}"></p>
        </div>

        <div class="col-md-6">
            <label for="Inputnumero" class="form-label">Número:</label>
            <input class="form-control" id="Inputnumero" th:field="*{endNumero}"/>
            <p class="text-danger" th:if="${#fields.hasErrors('endNumero')}"
               th:errors="*{endNumero}"></p>
        </div>

        <div class="col-md-6">
            <label for="Inputbairro" class="form-label">Bairro:</label>
            <input class="form-control" id="Inputbairro" th:field="*{endBairro}"/>
            <p class="text-danger" th:if="${#fields.hasErrors('endBairro')}"
               th:errors="*{endBairro}"></p>
        </div>

        <div class="col-md-6">
            <label for="selectEstado" class="form-label">Estado:</label>
            <select class="form-select"
                    id="selectEstado"
                    name="estado"
                    th:hx-get="@{/pessoa/cadastro/cidades}"
                    hx-target="#selectCidade" hx-include="[name='estado']"
                    hx-swap="innerHTML">
                <option value="">Selecione um Estado</option>
                <option th:each="est : ${estados}" th:value="${est.id}"
                        th:text="${est.estNome}"></option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="selectCidade" class="form-label">Cidade:</label>
            <select id="selectCidade" class="form-select" th:field="*{cidadeId}">
                <option value="">Selecione um estado primeiro</option>
            </select>
        </div>
    </div>
    <div class="pt-3 mt-4 border-top d-flex justify-content-start gap-2">
        <button type="submit"
                class="btn btn-success"
                th:hx-post="@{/pessoa/cadastro/enderecos/adicionar}"
                hx-target="#tabelaEnderecoContainer"
                hx-swap="outerHTML">
            <i class="bi bi-plus-lg"></i> Adicionar Endereço
        </button>
    </div>
</form>