<form th:fragment="addTel" id="telefoneFormContainer" th:object="${novo_telefone}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <div class="row g-3">
        <div class="col-md-6">
            <label class="form-label" for="inputNum">Número:</label>
            <input class="form-control" id="inputNum" type="text"
                   th:field="*{telNumero}" placeholder="Apenas números" required/>
        </div>

        <div class="col-md-6">
            <label class="form-label" for="telSelect">Tipo:</label>
            <select id="telSelect" class="form-select" aria-label="select"
                    th:field="*{tipo}"
                    required>
                <option th:each="tipo : ${lista_tel}" th:value="${tipo}"
                        th:text="${tipo.descricao}">
                </option>
            </select>
        </div>

        <div class="col-12">
            <div class="form-check form-switch mt-3">
                <label class="form-check-label" for="inputTelPrincipal">Telefone
                    principal</label>
                <input class="form-check-input" id="inputTelPrincipal" type="checkbox"
                       th:field="*{telPrincipal}" required/>
            </div>
        </div>
    </div>
    <div class="pt-3 mt-4 border-top d-flex justify-content-start gap-2">
        <button type="button"
                class="btn btn-success"
                th:hx-post="@{/pessoa/cadastro/telefones/adicionar}"
                hx-target="#tabelaTelefoneContainer"
                hx-swap="outerHTML">
            <i class="bi bi-plus-lg"></i> Adicionar Telefone
        </button>
    </div>

</form>